@model IEnumerable<IdentityRole>

@{
    ViewBag.Title = "Listado Roles";
}

<h1>Listado Roles</h1>

@if (Model.Any())
{
    <a class="btn btn-success mb-3" style="width:auto" asp-action="CreateRole"
       asp-controller="administration"><i class="far fa-plus-square"></i> Crear nuevo rol</a>

    foreach (var role in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                Rol Id : @role.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@role.Name</h5>
            </div>
            <div class="card-footer">
                <form asp-action="DeleteRole" asp-route-id="@role.Id" method="post">
                    <a asp-controller="Administration" asp-action="EditRole"
                       asp-route-id="@role.Id" class="btn btn-primary" style="width:auto">
                        Editar <i class="fas fa-edit"></i>
                    </a>

                    <span id="confirmDeleteSpan_@role.Id" style="display:none">
                        <span>¿Seguro de que quieres borrar este rol?</span>
                        <button type="submit" class="btn btn-danger">Si</button>
                        <a href="#" class="btn btn-primary"
                           onclick="confirmDelete('@role.Id', false)">No</a>
                    </span>
                    <span id="deleteSpan_@role.Id">
                        <a href="#" class="btn btn-danger" style="width:auto"
                           onclick="confirmDelete('@role.Id', true)">Borrar <i class="fa fa-trash-alt fa-lg"></i></a>
                    </span>
                </form>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            No se han creado roles todavía
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Usa el botón de debajo para crear un rol
            </h5>
            <a class="btn btn-primary" style="width:auto"
               asp-controller="administration" asp-action="CreateRole">
                Crear Rol
            </a>
        </div>
    </div>
}

@section Scripts{
    <script src="~/js/site.js"></script>
}
