@model ProyectoGestor.Models.OrderProductViewModel.OrderIndexData

@{
    ViewData["Title"] = "Pedidos";
}

<h1>Listado de Pedidos</h1>

<p>
    <a asp-action="Create" class="btn btn-success" style="width:auto"><i class="far fa-plus-square"></i> Crear nuevo pedido</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Número de pedido</th>
            <th>Fecha</th>
            <th>Cliente</th>
            <th>Productos</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Orders)
        {
            string selectedRow = "";
            if (item.OrderID == (int?)ViewData["OrderID"])
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.OrderID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.FullName)
                </td>
                <td>
                    @foreach (var product in item.OrderProduct)
                    {
                        @product.Product.Name <br />
                    }
                </td>
                <td>
                    <a asp-action="Index" asp-route-id="@item.OrderID" class="btn btn-info" style="width:auto">Ver Productos</a>
                    <a asp-action="Edit" asp-route-id="@item.OrderID" class="btn btn-primary" style="width:auto">Editar <i class="fas fa-edit"></i></a>
                    <!--<a asp-action="Details" asp-route-id="item.OrderID">Details</a> |-->
                    <a asp-action="Delete" asp-route-id="@item.OrderID" class="btn btn-danger" style="width:auto">Borrar <i class="fa fa-trash-alt fa-lg"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!--Productos-->
@if (Model.Products != null)
{
    <h3>Productos en el pedido</h3>
    <table class="table">
        <tr>
            <!--<th></th>-->
            <th>Nombre</th>
            <th>Precio</th>
            <th>Categoría</th>

        </tr>

        @foreach (var item in Model.Products)
        {
            string selectedRow = "";
            if (item.ID == (int?)ViewData["ID"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Price €
                </td>
                <td>
                    @item.ProductCategory.Category
                </td>
            </tr>
        }

    </table>
}
